body {
    background-image: url('backgroundobmc.jpg'); background-size: cover; background-position: center
}

.container.p-5.bg-light {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
}

h1, h2 {
    text-align: center;
}

